/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #001d3b; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #358227; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #001d3b; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}
/* General Styling */
body {
  font-family: Arial, sans-serif;
  background: conic-gradient(
    from 0deg,
    var(--heading-color),
    var(--default-color),
    var(--default-color),
    var(--default-color),
    var(--heading-color)
  );
}

/* Custom Login Container */
.login-container {
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 12px;
}

/* Custom Header */
.login-header {
  border-radius: 12px 12px 0 0;
}

/* Form Input Focus */
.form-control:focus {
  border-color: var(--heading-color)
  box-shadow: 0 0 5px var(--heading-color)
}

/* Submit Button Hover Effect */
.btn-primary{
  background: linear-gradient(to left, var(--accent-color), var(--heading-color));
   transition: transform 0.3s ease-in-out; /* Apply transition on normal state */
}
.btn-primary:hover {
  background: linear-gradient(to right, var(--accent-color), var(--heading-color));
  border-color: transparent;
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.btn-primary:active {
  transform: scale(0.98);
}
